*{
margin:0;
padding: 0;
list-style-type: none;
border: 0;

}
/* responsive */
@media (max-width: 1080px){
  nav .right-side{
    display: none;
    
  
  }
  label{
    display: block;
    cursor: pointer;
  }
  label.hamburger span{
    display: block;
    background: white;
    height: 3px;
    width: 28px;
    margin: 7px;
  }
  label.cross span:nth-child(1){
    display: block;
    background: red;
    width: 30px;
    height: 4px;
    transform-origin: 0 0;
    transform: rotate(45deg);
    margin-top: 0px;
  }
  label.cross span:nth-child(2){
    display: block;
    background: red;
    width: 30px;
    height: 4px;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    margin-top: 17px;
  }
  input#open:checked ~ nav label.hamburger{
    display: none;
  }
  input#close:checked ~ nav label.cross{
    display: none;
  }
  input#open:checked ~ nav .right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.90);
    flex-wrap: wrap;
  }
  nav .right-side a{
    margin: 20px;
  }
}
/* fin responsive */


















@font-face{
font-family: FuturaLT-Bold.ttf;
src: url(FuturaLT-Bold.ttf);
}



body{
text-align: left;
font-family:Anton-Regular.ttf;
margin:0 auto;
background-image:url("fond.jpg");
background-attachment:fixed;
background-size:1359px 785px;
padding-bottom:1500px;
flex-wrap:wrap;
}

.titre h1{
  background-size: auto;
    animation-duration: 3s;
    animation-name: glissement;
    animation-iteration-count:inherit;
  }
  @keyframes glissement {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.Bio{
position: absolute;
justify-content: center;
left:50px;
text-align: center;
}


nav ul{
position: absolute;
float: left;
font-size: 18px;
font-weight: bold ;
margin-top: 15px;
top: 26px;
left: 18px;


 }


li a:hover {
color: #44b2f2;



 }

nav ul li{
position:relative;
display:inline-block;
justify-content: center;
padding: 2px;
margin: 0 auto;
margin-left: 70px;
padding: 10px;
background-color: rgb(242, 126, 84);
/* background: rgb(233, 90, 38); */
box-shadow: 3px 3px 3px 2px rgb(69, 67, 67);
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;

transition: all 300ms ease-in-out;
/* background:linear-gradient(0.01000000000001deg, rgb(251, 77, 2) 8.92%, 
                                                  rgb(205, 73, 17) 31.91%, 
                                                  rgb(208, 162, 138) 54.33%, 
                                                  rgb(199, 139, 116) 67.52%);  */
                                      


                                                  





}

a {
position: relative;
text-decoration: none;
display: block;
color: #ffffff;
padding-top: 3px;
text-shadow: 1px 1px 2px rgb(49, 49, 49);
transform-origin: top center;
transition: all 300ms ease-in-out;



 }
 ul ul {
visibility: hidden;

 }
 nav ul li:hover ul{
visibility: visible;
 }
.Presentation 
{
position: absolute;
color: #ffffff;
top: 35%;
font-size: 22px ;
padding: 30px;
text-shadow: 8px 5px 5px rgb(27, 27, 27);
margin-left: 50px;

}
/* parametre du github */
.github{
position: absolute;
right: 100px;
top: 20px;
/* border-radius: 90px; */
/* box-shadow: 7px 7px 13px rgb(24, 24, 24); */
color: #e7e0e0;
}
.github a:hover{
color:#33aaef;
}

/* parametre photo d'accueil */
.mytof{
position: relative;
border-radius: 10px;
margin-bottom: 50px;
cursor: pointer;
margin-left: 30px;

}
.mytof {
max-width: 50%;
vertical-align: top;
-webkit-transition: all 2s ease-out;
transition: all 2s ease-out;
-webkit-transform: scale(1.4);
transform: scale(1.4);
}
.mytof:hover{
-webkit-transform: scale(1);
transform: scale(1);
 }

 @keyframes flip {
0%,80% {
transform: rotateY(360deg) 
    }
  }

.waviy{
position: relative;
animation: flip  infinite;
animation-delay: calc(.2s * var(--i))
} 
.waviy span {
position: relative;
display: inline-block;
font-size: 40px;
color: #fff;
animation: flip 5s infinite;
animation-delay: calc(.10s * var(--i))
}



.Textbull{
background: rgb(3, 88, 88);

}


main{
  position: absolute;
 
  width: 3px;
  margin:8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  top:120%;

  
  padding-right: 100%;
  /* border: 1px solid #f1f1f1; */
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-left: 80px;
  padding-right: 80%;
  /* box-shadow: 10px 10px 5px #100f0f; */

 
 }
 
main{
padding-bottom: 400px;
margin-right: 20px;
background-size: cover;
background-repeat: contain;
/* background-color:#b9b9da; */
background: rgba(0, 0, 0, 0.5);
}
main h1{
  position: absolute;
display:inline-block;
padding-left: 50px;
padding-top: 30px;
color: #FE6D00;
text-shadow: 5px 2px  #141414;
}


main p{
position: absolute;
display:inline-block;
float:left;
color: #1d1c1c;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-left: 50px;
padding-right: 20%;
padding-top: 50px;
line-height: 30px;
font-size: 16px;

color: #e7e0e0;
text-shadow: 3px 2px 1px #2b2b2b;
letter-spacing: 4px;

}
main p {
  animation-duration: 1s;
  animation-name: glissement;
  animation-iteration-count:inherit;
}

@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}






main .siteviolet{
position: absolute;
top: 200px;
right: 30px;
cursor: pointer;

}
.main2{
background: rgba(0, 0, 0, 0.5);
position: absolute;
top: 230%;
padding-bottom: 1200px;
}

.main2 h1{
  text-shadow: 5px 2px  #1d1c1c;
}
.main2 p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main2 .siteviolet{
position: absolute;
left: 80px;
top: 160px;
border-radius: 10px;
filter: drop-shadow(15px 10px 4px #191818);


}

/* overlaye */


  


.siteviolet:hover li {
  opacity: 1;
} 






.main2 .monsite{
position: absolute;
left: 55%;
top: 160px;
cursor: pointer;
filter: drop-shadow(7px 10px 4px #101011);


/* animation */

-webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
    .monsite:hover{
  
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
     }
    
     @keyframes flip {
    0%,80% {
    transform: rotateY(360deg) 
        }
      }











.main2 .mysouk{
position: absolute;
left: 5%;
top: 40%;
cursor: pointer;
filter: drop-shadow(15px 10px 4px #151515);
-webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
    .mysouk:hover{
  
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
     }
    
     @keyframes flip {
    0%,80% {
    transform: rotateY(360deg) 
        }
      }



/* animation aller */
.main2 .siteviolet{

    /* max-width: 50%;
    vertical-align: top; */
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
    .siteviolet:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
     }
    
     @keyframes flip {
    0%,80% {
    transform: rotateY(360deg) 
        }
      }


.main2 .car{
position: absolute;
left:55%;
top:40%;
cursor: pointer;
filter: drop-shadow(15px 10px 4px #161515);
-webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
    .car:hover{
  
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
     }
    
     @keyframes flip {
    0%,80% {
    transform: rotateY(360deg) 
        }
      }

      .main2 .Moon{
        position: absolute;
        left: 5%;
        top: 66%;
        cursor: pointer;
    filter: drop-shadow(15px 10px 4px #1e1c1c);
    -webkit-transition: all 0s ease-out;
    transition: all 1s ease-out;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

        }

  .Moon:hover{
  
 -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
    }
          
   @keyframes flip {
  0%,80% {
  transform: rotateY(360deg) 
              }
            }

button{
  position: relative;
  padding: 10px;
  border-radius: 5px;
  background-color: #35a6e8;
  color: #fff;
  cursor: pointer;
  right: 1%;
  top: 50px;
}

.main3{
  background-color:rgba(1, 0, 0, 0.5);
  position: absolute;
  top: 450%;
  padding-bottom: 150px;
  padding-right: 800px;
  margin-left: 80px;
  width: 300px;
  
  }
  .main3 h1{
    color: rgb(250, 113, 63);
    margin-left: 50px;
    margin-top: 18px;
    text-shadow: 2px 1px 1px #908d8d;
  }

  .container{
  
  margin-top: 100px;
  margin-left: 100px;
  box-shadow: 1px 1px 1px 1px rgb(186, 199, 236);
  border: -1px solid;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  width: 400px;
  
  }

  .right {
    margin-left: 100%;
    max-width: 100%;
  }
  .description{
  margin-left: 50%;
  }
  .description a{
  box-shadow: 2px 1px 1px 1px rgb(194, 191, 191);
  background-color: #1384C5;
  margin-right: 70%;
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  margin-top: 10px;

  }
  .right p.date{
    margin-top: 10px;
    color: #e3e1e1;
    margin-left: 30px;
  }
  .right .description{
    color: #e9e5e5;
    margin-left: 50px;
    
  }

  .auteur{
  position: relative;
  margin-bottom: 12px;
  padding: 50px;
  color: #8dc2e1;
  margin-left: -25px;
  }
  .right h4{
  margin-top: 10px;
  font-family:'Crimson Text',serif ;
  font-size: 15px;
  color: rgb(248, 132, 86);
  margin-left: 30px;
  margin-right: 12px;
  }

  .right .description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif bold;
    font-size: 15px;
    position: relative;
  margin-left: 30px;
  margin-right: 10px;
  color: #cecfd0;
  
  }
  .right{
    margin: 0px;
    max-width: 100%;
  }

  .container:hover{
  
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
     }
    
     @keyframes flip {
    0%,80% {
    transform: rotateY(360deg) 
        }
      }




 
  
























/* parametre du footer */

 
  footer{
  background: rgba(0, 0, 0, .5);
  margin-left: 79px;
  padding: 550px;
  position: absolute;
  top:600%;
  padding-bottom: 300px;
  padding-top: 150px;
  color: #ffffff;
 
 }
footer .copy{
position:absolute;
top: 90%;
 }
/* ombre intérieure formulaire */
 input{
  box-shadow: 3px 5px 10px 6px rgba(98, 96, 96, 0.3) inset;
 }
textarea{
  box-shadow: 10px 5px 10px 6px rgba(98, 96, 96, 0.3) inset;
  padding-left: 5px;
  padding-right:5px ;
  padding-top: 5px;
  padding-bottom: 5px;
}



 /* parametre contacts footer */
.contacts{
  font-weight: bold;
  color: #8dc2e1;
position: absolute;
left: 70%;
top: 50px;
}




.column {

position: absolute;
display: flex;
left: 40%;
display: inline-block;
font-weight: bold;
top: 50px;
word-spacing: 3px;
margin-bottom: 3px;
}
.col a:hover{
  color: #33aaef;
}



label{
color: rgb(242, 234, 231);
}
 .col a{
  display: flex;
  position: absolute;
  color: #8dc2e1;
  
 }
.boutton{
color: #1384C5;
position: absolute;
top: 175px;

 }

 /* copyright */
 footer p{
 top: 100%;
 }



 .reseausocial {
  position: absolute;
  top: 50px;
  left: 5%;
  
  }
  .reseausocial img{
  
  
  box-shadow: 2px 2px 1px rgb(33, 32, 32);
  left: 120%;
  height: 25px;
  padding: 4px;
  border-radius: 100px;
  }
  .reseausocial:hover{
  color:#33aaef;
  }
  


 /*  */
/* la bulle de bande dessinée */

 .bubble_left {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 280px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
  color: #fff;
  position: absolute;
  top:5px;
  left: 250px;
   }

.bubble_left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}


/* /* effet machine à écrire

 /* #text:after{
  content: "";
  animation: clignote 0.2s infinite linear;
  width: 2px;
  height: 2rem;
  display: inline-block;
  background: rgb(99, 101, 116);;
} */



@keyframes clignote {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}










